[package]
name = "group_canister_impl"
version = "0.1.0"
authors = ["Hamish Peebles <hamishpeebles@gmail.com>", "Matt Grogan <megrogan@gmail.com>", "Julian Jelfs <julian.jelfs@gmail.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
callback_canister = { path = "../../callback/api" }
callback_canister_c2c_client = { path = "../../callback/c2c_client" }
candid = "0.7.14"
canister_api_macros = { path = "../../../libraries/canister_api_macros" }
canister_logger = { path = "../../../libraries/canister_logger" }
canister_state_macros = { git = "https://github.com/open-ic/ic-utils", rev = "b06d3b984e39fa3a23828521934ef0370b720b18" }
chat_events = { path = "../../../libraries/chat_events" }
futures = "0.3.21"
group_canister = { path = "../api" }
group_index_canister = { path = "../../group_index/api" }
group_index_canister_c2c_client = { path = "../../group_index/c2c_client" }
http_request = { path = "../../../libraries/http_request" }
ic-cdk = "0.5.0"
ic-cdk-macros = "0.5.0"
itertools = "0.10.3"
lazy_static = "1.4.0"
notifications_canister = { path = "../../notifications/api" }
notifications_canister_c2c_client = { path = "../../notifications/c2c_client" }
open_storage_bucket_client = { path = "../../../libraries/open_storage_bucket_client" }
regex = "1.5.4"
search = { path = "../../../libraries/search" }
serde = "1.0.136"
serde_bytes = "0.11.5"
serializer = { path = "../../../libraries/serializer" }
tracing = "0.1.33"
types = { path = "../../../libraries/types" }
user_canister = { path = "../../user/api" }
user_canister_c2c_client = { path = "../../user/c2c_client" }
user_index_canister = { path = "../../user_index/api" }
user_index_canister_c2c_client = { path = "../../user_index/c2c_client" }
utils = { path = "../../../libraries/utils", features = ["range-set"] }
