*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

img {
    vertical-align: middle;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, video {
    padding: 0;
    border: 0;
    outline: none;
}

video {
    width: 100%    !important;
    height: auto   !important;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #111111;
}

.text-link {
    cursor: pointer;
}

a:hover, .text-link:hover {
    text-decoration: underline
}

.message.file.them .down-arrow {
    background-color: #e9e9e9;
}

.message.file.me .down-arrow {
    background-color: #ea4091;
}

.download-file > * {
    flex: 0 0 auto;
}

[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: #cccccc; 
    background-color: transparent;
    cursor: text;
}

span.emoji {
    display: inline-block;
}

.message-input .emoji {
    width: 18px;  
    height: 18px;
    font-size: 18px; 
}

@media
    not screen and (-webkit-min-device-pixel-ratio: 2),
    not screen and (   min--moz-device-pixel-ratio: 2),
    not screen and (     -o-min-device-pixel-ratio: 2/1),
    not screen and (        min-device-pixel-ratio: 2),
    not screen and (                min-resolution: 192dpi),
    not screen and (                min-resolution: 2dppx) { 
    /* non-Retina-specific stuff here */
    span.emoji {
        margin-right: 3px;
    }
}
