*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

img {
    vertical-align: middle;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.5;
    background-color: #41398b;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, video {
    padding: 0;
    border: 0;
    outline: none;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #111111;
}

@media screen and (min-width: 1450px) {
    body {
        padding: 25px;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
}

.avatar-button {
    border-radius: 50%;
    height: 40px;
    cursor: pointer;
}

.chats li .avatar {
    width: 49px;
    height: 49px;
    margin-top: 7px;
}

.chats li svg.avatar {
    width: 56px;
    height: 56px;
    margin-top: 3px;
}

#app {
    flex-grow: 1;
    display: flex;
    max-width: 1400px;
}

.sidebar {
    flex: 1 1 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

main {
    flex: 1 1 60%;
    background-color: #e5ddd5;
    background-color: #3dc5ee;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1200px) {
    .sidebar {
        flex: 0 0 480px;
    }
    main {
        flex: 1 1 auto;
    }
}

.date,
header .chat-summary .participants,
header .chat-summary .them-typing,
header .chat-summary .participants-typing {
    font-size: 12px;
    color: #808080;
}

.search {
    background-color: #f6f6f6;
    padding: 6px 15px;
    position: relative;
}

.search > svg {
    display: block;
    float: left;
    position: absolute;
    top: 11px;
    left: 25px;
    color: #aaaaaa;
}

.search input {
    background-color: white;
    width: 100%;
    border: 0;
    border-radius: 25px;
    padding: 4px 15px 6px 64px;
    font-size: 15px;
    font-weight: 300;
    outline: none;
    color: #111111;
}

header {
    padding: 6px 15px;
    background-color: #ededed;
}

.sidebar header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar header .avatar-button {
    flex-grow: 0;    
}

.sidebar header .my-display-name {
    flex-grow: 0;    
    align-self: center;
    font-size: 20px;
    margin-left: 24px;
}

.chats-menu-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.ddl {
    position: relative;
    display: inline-block;
}

.ddl-content {
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.ddl-content a {
    font-size: 14px;
    color: #606060;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.ddl-content a:hover {
    background-color: #f0f0f0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.ddl-button {
    color: #919191;
    border-radius: 50%;
    padding: 6px;
    background-color: transparent;
    width: 36px;
    height: 36px;
}

.ddl-button-svg {
    vertical-align: middle;
    pointer-events: none;
}

.ddl-button:hover, .ddl-button:focus {
    background-color: #e0e0e0;
}

main header {
    border-left: 1px solid #dddddd;
    display: flex;
    flex-direction: row;
}

main header>div {
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main header>div >div {
    line-height: normal;
}

.sidebar ul, li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.chats {
    flex: 1 1;
    overflow: auto;
}

.chats li {
    padding-left: 15px;
    height: 64px;
    display: flex;
    flex-direction: row;
}

.chats li .message-container {
    border-bottom: 1px solid #e6e6e6;
    padding: 6px 15px 6px 15px;
    min-width: 0;
    width: 100%;
}

.chats li .date {
    float: right;
}

.chats li .chats-message {
    font-size: 14px;
    color: #606060;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 450px;
}

.chats li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.chats li.selected {
    background-color: #e0e0e0;
}

.chats .message-container .unread-count {
    font-size: 12px;
    float: right;
    background-color: #05d755;
    color: white;
    line-height: 1;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    min-width: 20px;
    padding: 0 4px;
}

.detail {
    padding: 0 20px 14px 20px;
    flex: 1 1;
    overflow:auto;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 500px;
    background-color: white;
    padding: 6px 11px;
    margin: 0px;
    margin-top: 14px;
    position: relative;
    cursor: pointer;
}

.message.unread {
    background-color: #e6e6e6;
}

.message .down-arrow {
    position: absolute;
    top: 3px;
    right: 3px;
    opacity: 0.85;
    display: none;
    z-index: 51;
    background-color: inherit;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
    color: #aaaaaa;
}

.message.file.them .down-arrow {
    background-color: #e9e9e9;
}

.message.file.me .down-arrow {
    background-color: #ea4091;
}

.message:hover .down-arrow {
    display: block;
}

.message.merge {
    margin-top: 2px;
}

.message, .message-media {
    border-radius: 16px;
}

.message.me.top,
.message.me.top .message-media {
    border-radius: 16px 16px 4px 16px;
}

.message.me.middle,
.message.me.middle .message-media {
    border-radius: 16px 4px 4px 16px;
}

.message.me.bottom,
.message.me.bottom .message-media {
    border-radius: 16px 4px 16px 16px;
}

.message.them.top,
.message.them.top .message-media {
    border-radius: 16px 16px 16px 4px;
}

.message.them.middle,
.message.them.middle .message-media {
    border-radius: 4px 16px 16px 4px;
}

.message.them.bottom,
.message.them.bottom .message-media {
    border-radius: 4px 16px 16px 16px;
}

.message.file .download-file {
    border-radius: 13px 13px 6px 6px;
}

.message.me.merge.file .download-file {
    border-radius: 13px 2px 2px 6px;
}

.message.them.merge.file .download-file {
    border-radius: 2px 13px 6px 2px;
}

.detail.group .message.them.file .download-file {
    border-radius: 2px 12px 2px 2px;
}

.detail.group .message.them.file .participant + .download-file {
    border-radius: 2px;
}

.detail .them-typing,
.detail .participants-typing {
    font-size: 12px;
}

.message-time, .file-size {
    display: block;
    margin-top: 8px;
    z-index: 10;
    color: #999999;
    font-size: 11px;
}

.message-time {
    float: right;
    margin-left: 10px;
    text-align: right;
}

.file-size {
    float: left;
    text-align: left;
}

.me .message-time, .me .file-size {
    color: #cccccc;
}

.message-tick {
    position: absolute;
    height: 10px;
    width: 10px;
    bottom: 9px;
    z-index: 100;
}

.message-tick.confirmed {
    right: -5px;
}

.message-tick.read-by-them {
    right: -15px;
}

.message a.participant {
    font-size: 13px;
    font-weight: bolder;
    display: block;
    text-decoration: none;
    color: #d62c7d;
}

.message a.participant:hover {
    text-decoration: underline;
}

.message.them {
    align-self: flex-start;
}

.day-change-marker {
    padding: 6px 12px;
    border-radius: 10px;
    background-color: rgb(221,221,221, 0.9);
    margin-top: 14px;
    align-self: center;
    font-size: 13px;
    position: sticky;
    top: 14px;
    z-index: 60;
}

.detail .day-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.message.me {
    align-self: flex-end;
    background-color: #d62c7d;
    color: white;
}

.message .emoji {
    width: 20px;  
    height: 20px;
    font-size: 20px;  
}

.message.media {
    padding: 0px;
    position: relative;
}

.message.media,
.message-media {
    height: 175px;
}

.message.media .participant {
    position: absolute;
    display: block;
    padding: 4px 7px 3px 11px;
    top: 0px;
    left: 0px;
    z-index: 50;
    background-color: white;
    text-align: center;
    border-radius: 16px 0px 2px 0px;
    line-height: 13px;
    opacity: 0.6;
}

.message-media {
    max-width: 500px;
    max-height: 500px;
}

.message.media video {
    display: block;
}

.message.media .message-time {
    position: absolute;
    display: inline;
    float: none;
    margin: 0px;
    right: 7px;
    bottom: 4px;
    background-color: rgb(68, 68, 68, 0.6);
    color: #dddddd;
    text-align: center;
    border-radius: 6px;
    padding: 0px 4px;
}

.message.file {
  padding: 3px;
}

.message.file .download-file {
    min-width: 300px;
    padding: 10px 9px;
    max-width: 494px;
    background-color: #e9e9e9;
    font-size: 14px;
    line-height: 14px;
    display: block;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.message.file .participant {
    margin-left: 8px;
}

.message.me.file .download-file {
    color: white;
    background-color: #ea4091;
}

.download-file .file-name {
    margin-left: 8px;
}

.download-file > * {
    flex: 0 0 auto;
}

.download-file .file-name {
    flex: 1 0 auto;
}

.message.file .message-time,
.message.file .file-size {
    margin-top: 6px;
    margin-bottom: 3px;
}

.message.file .message-time {
    margin-right: 9px;
}

.message.file .file-size {
    margin-left: 9px;
}

.file-icon {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAA8CAYAAADL94L/AAAByElEQVR4Ae3axdJTQRAFYFyegA3u8ALseCDcicsGhxt3x+G32BXc3X3NBnfXYTqp3sZlhuqpOlXZRL46He9ReJyJxGSTEreaPfEHZiX+1uSJvelVNu+Jvjd7Yk9zI8aSUe0eDpjCIYfNSuw5v/zF5In/6mU27478tXriLJvXjdSwPq1lCDTCmxjiCNav8GZYBVMwWKagX8kWjk9vCcMhYWhEFEw1+oV0wZjdPKY6Vn9EwmBDTYPwBoXCYPLGDQTJjkHQNQRJj0FQtmgs+C8wOHIIkh2DoDu5vD5Xfkz9hsTBWDyxhjDYUDqvLRYSY1JilSQGyyxXOt4QKJPX70NDQmI27gyxHcn9bH/5RFMNAUgoDI4afOAMHBiCdiDNj5woGAhgsCEYudSI1lBCRwoPL957slAoDDYEoPXb/ZVs3FE/y9072fDxsx4BMPVfGOpl1VY/y5++4EWM1Fm9LcCKpy8RpnchDGEIQxjCEIYwhCEMYQhDGMIQhjCEIQxhCEMYwhCGMIQhDGEIQxhYNlXiP+XHXLRDM5thQVpyzIfS2YtLceVEkRmzalsgMArPhp258bA6b/LEb8LqPM930VNdvY/fhMmCxw+Of+4BTcPInBo2AAAAAElFTkSuQmCC);
    background-size: contain;
    width: 26px;
    height: 30px;
}

.message.file .file-icon {
}

main footer {
    display: flex;
    padding: 11px 16px;
    color: #9b9b9b;
    background-color: #f0f0f0;
    align-items: center;
}

.message-input-container {
    flex: 1 1 auto;    
    display: flex;
    border-radius: 25px;
    padding: 8px 15px 10px 15px;
    background-color: white;
}

.message-input {
    border: 0;
    outline: none;
    flex: 1 1 auto;    
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #111111;
    white-space: pre-wrap;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    min-height: 20px;
    max-height: 100px;    
    user-select: text;
}

[contenteditable][placeholder]:empty:before {
    content: attr(placeholder);
    position: absolute;
    color: #cccccc; 
    background-color: transparent;
    cursor: text;
}

span.emoji {
    display: inline-block;    
}

.message-input .emoji {
    width: 18px;  
    height: 18px;
    font-size: 18px; 
}

@media
    not screen and (-webkit-min-device-pixel-ratio: 2),
    not screen and (   min--moz-device-pixel-ratio: 2),
    not screen and (     -o-min-device-pixel-ratio: 2/1),
    not screen and (        min-device-pixel-ratio: 2),
    not screen and (                min-resolution: 192dpi),
    not screen and (                min-resolution: 2dppx) { 
    /* non-Retina-specific stuff here */
    span.emoji {
        margin-right: 3px;
    }
}

main footer button.send {
    outline: 0;
    height: 25px;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    align-self: center;
    background-color: transparent;
    margin-left: 20px;
    color: #9b9b9b;
}

main footer .buttons {
    display: flex;
}

main footer .button {
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

main footer .smiley {
    margin-right: 10px;
}

main footer .attach {
    margin-right: 5px;
}

main footer .dollar {
    margin-right: 10px;
    width: 32px;
    height: 32px;
}

.send-cycles-container {
    position: relative;
    color: #111111;
}

.send-cycles-dialog {
    position: absolute;
    z-index: 100;
    bottom: 54px;
    left: -88px;
}

.send-cycles-dialog > div {
    background-color: white;
    padding: 6px;
    min-width: 352px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border: 1px solid #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.send-cycles-links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
}

.send-cycles-links > a {
    font-size: 12px;
    text-decoration: underline;
}

.send-cycles-dialog .cycles-balance  {
    margin-bottom: 40px;
}

.send-cycles-dialog .button-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.send-cycles-dialog .button-container button {
    padding: 6px 20px;
    border-radius: 5px;
}

.send-cycles-dialog input {
    width: 200px;
    margin-left: 11px;
}

.send-cycles-dialog .cycles-container {
    margin-bottom: 4px;
}

.send-cycles-dialog .pounds-container {
    margin-top: 4px;
    margin-bottom: 40px;
}

.send-cycles-dialog .cycles-recipient {
    font-size: 12px;
}

main footer .button svg {
    vertical-align: middle;
    pointer-events: none;
}

main footer .buttons .button:hover,
main footer .buttons .button:focus {
    background-color: #e0e0e0;
}

footer button svg {
    margin: 0;
    padding: 0;
}

.emojis-container {
    z-index: 100;
    position: relative;
}

.emoji-mart-preview {
  /* display: none; */
}

.emoji-mart {
    position: absolute;
    bottom: 54px;
    left: -49px;
}
