# by default, ignore all hidden files and make some exceptions
.*
!.dfx
*.md
*.log
Dockerfile
Dockerfile.*
canbench*
LICENSE
Makefile
target
wasms
lib
node_modules
npm-debug.log
canbench*.yml
LICENSE
Makefile
