[workspace]
members = [
    "backend/bots/api",
    "backend/bots/c2c_client",
    "backend/bots/examples/icp_dispenser/api",
    "backend/bots/examples/icp_dispenser/impl",
    "backend/bots/examples/sns1_airdrop/api",
    "backend/bots/examples/sns1_airdrop/impl",
    "backend/canister_installer",
    "backend/canister_upgrader",
    "backend/canisters/group/api",
    "backend/canisters/group/c2c_client",
    "backend/canisters/group/client",
    "backend/canisters/group/impl",
    "backend/canisters/group_index/api",
    "backend/canisters/group_index/c2c_client",
    "backend/canisters/group_index/client",
    "backend/canisters/group_index/impl",
    "backend/canisters/local_group_index/api",
    "backend/canisters/local_group_index/c2c_client",
    "backend/canisters/local_group_index/impl",
    "backend/canisters/local_user_index/api",
    "backend/canisters/local_user_index/c2c_client",
    "backend/canisters/local_user_index/impl",
    "backend/canisters/notifications/api",
    "backend/canisters/notifications/c2c_client",
    "backend/canisters/notifications/client",
    "backend/canisters/notifications/impl",
    "backend/canisters/online_users/api",
    "backend/canisters/online_users/client",
    "backend/canisters/online_users/impl",
    "backend/canisters/proposals_bot/api",
    "backend/canisters/proposals_bot/impl",
    "backend/canisters/user/api",
    "backend/canisters/user/c2c_client",
    "backend/canisters/user/client",
    "backend/canisters/user/impl",
    "backend/canisters/user_index/api",
    "backend/canisters/user_index/c2c_client",
    "backend/canisters/user_index/client",
    "backend/canisters/user_index/impl",
    "backend/integration_tests",
    "backend/libraries/canister_api_macros",
    "backend/libraries/canister_client",
    "backend/libraries/canister_client_macros",
    "backend/libraries/canister_logger",
    "backend/libraries/canister_tracing_macros",
    "backend/libraries/chat_events",
    "backend/libraries/dynamodb_index_store",
    "backend/libraries/http_request",
    "backend/libraries/index_store",
    "backend/libraries/ledger_utils",
    "backend/libraries/msgpack",
    "backend/libraries/open_storage_bucket_client",
    "backend/libraries/search",
    "backend/libraries/timer_jobs",
    "backend/libraries/types",
    "backend/libraries/utils",
    "backend/notification_pusher/aws",
    "backend/notification_pusher/cli",
    "backend/notification_pusher/core",
    "backend/sms_sender/aws",
    "backend/sms_sender/cli",
    "backend/sms_sender/core"
]

[workspace.dependencies]
async-trait = "0.1.57"
aws-config = "0.49.0"
aws-sdk-dynamodb = "0.19.0"
aws-sdk-pinpoint = "0.19.0"
aws-types = "0.49.0"
base64 = "0.13.0"
candid = "0.8.3"
canister_state_macros = { git = "https://github.com/open-ic/ic-utils", rev = "8ad7972521dff55ec84085fdab35b8b6c27619ed" }
captcha = { git = "https://github.com/nmattia/captcha", rev = "fb3fe931c20b8577bf02070ae6b8c0ca2f442427", default-features = false }
clap = "3.0.14"
cycles_dispenser_client = { git = "https://github.com/open-ic/cycles-dispenser", rev = "4cae7b26bb812c69875fc6524ee4ec99018064fd" }
dirs = "4.0.0"
dotenv = "0.15.0"
futures = "0.3.25"
garcon = "0.2.3"
getrandom = "0.2.8"
ic-agent = "0.22.0"
ic-base-types = { git = "https://github.com/dfinity/ic", rev = "997ab2e9cc49189302fe54c1e60709abfbeb1d42" }
ic-cdk = "0.6.8"
ic-cdk-macros = "0.6.8"
ic-icrc1 = { git = "https://github.com/dfinity/ic", rev = "997ab2e9cc49189302fe54c1e60709abfbeb1d42" }
ic-icrc1-client = { git = "https://github.com/dfinity/ic", rev = "997ab2e9cc49189302fe54c1e60709abfbeb1d42" }
ic-icrc1-client-cdk = { git = "https://github.com/dfinity/ic", rev = "997ab2e9cc49189302fe54c1e60709abfbeb1d42" }
ic-ledger-types = "0.2.0"
ic-ledger-canister-core = { git = "https://github.com/dfinity/ic", rev = "997ab2e9cc49189302fe54c1e60709abfbeb1d42" }
ic-stable-structures = "0.3.0"
ic-state-machine-tests = { git = "https://github.com/dfinity/ic", rev = "997ab2e9cc49189302fe54c1e60709abfbeb1d42" }
ic-utils = "0.22.0"
itertools = "0.10.5"
lazy_static = "1.4.0"
num-traits = "0.2.15"
open_storage_bucket_canister = { package = "bucket_canister", git = "https://github.com/open-ic/open-storage", rev = "7b5bd30a029c476d0035bcdb0fdb2987108123ba" }
open_storage_bucket_canister_c2c_client = { package = "bucket_canister_c2c_client", git = "https://github.com/open-ic/open-storage", rev = "7b5bd30a029c476d0035bcdb0fdb2987108123ba" }
open_storage_index_canister = { package = "index_canister", git = "https://github.com/open-ic/open-storage", rev = "7b5bd30a029c476d0035bcdb0fdb2987108123ba" }
open_storage_index_canister_c2c_client = { package = "index_canister_c2c_client", git = "https://github.com/open-ic/open-storage", rev = "7b5bd30a029c476d0035bcdb0fdb2987108123ba" }
openssl = "0.10.42"
proc-macro2 = "1.0.47"
quote = "1.0.21"
rand = "0.8.5"
rand_chacha = "0.3.1"
rand_core = "0.6.4"
regex = "1.6.0"
rmp-serde = "1.1.1"
serde = "1.0.145"
serde_bytes = "0.11.7"
serde_cbor = "0.11.2"
serde_json = "1.0.86"
sha2 = "0.10.6"
serializer = { git = "https://github.com/open-ic/ic-utils", rev = "8ad7972521dff55ec84085fdab35b8b6c27619ed" }
stable_memory = { git = "https://github.com/open-ic/ic-utils", rev = "8ad7972521dff55ec84085fdab35b8b6c27619ed" }
syn = "1.0.102"
test-case = "2.2.2"
tokio = "1.21.2"
tracing = "0.1.37"
tracing-attributes = "0.1.23"
tracing-subscriber = "0.3.16"
web-push = { git = "https://github.com/hpeebles/rust-web-push", rev = "12a08c29e5175066cd70428699e10ac509036f01" }

[profile.release]
lto = true
opt-level = "z"
codegen-units = 1
debug = false

[patch.crates-io]
candid = { git = "https://github.com/hpeebles/candid", rev = "ddc574236bcd05fc6b0070a5fd5a3843a15f09ea" }
candid_derive = { git = "https://github.com/hpeebles/candid", rev = "ddc574236bcd05fc6b0070a5fd5a3843a15f09ea" }
ic-cdk = { git = "https://github.com/hpeebles/cdk-rs", rev = "77408c7262a4aad8b11da90e05cfc51dfebc0edc" }
ic-cdk-macros = { git = "https://github.com/hpeebles/cdk-rs", rev = "77408c7262a4aad8b11da90e05cfc51dfebc0edc" }
ic-ledger-types = { git = "https://github.com/hpeebles/cdk-rs", rev = "77408c7262a4aad8b11da90e05cfc51dfebc0edc" }
jwt-simple = { git = "https://github.com/hpeebles/rust-jwt-simple", rev = "6ead8a70f6cc8ee7877cce043e8d3876a7fe854e" }
ic-stable-structures = { git = "https://github.com/hpeebles/stable-structures", rev = "986e0d8531cd152d5da747b760b099f1d4f16136" }
