[workspace]
members = [
    "backend/bots/api",
    "backend/bots/c2c_client",
    "backend/bots/examples/icp_dispenser/api",
    "backend/bots/examples/icp_dispenser/impl",
    "backend/bots/examples/sns1_airdrop/api",
    "backend/bots/examples/sns1_airdrop/impl",
    "backend/canister_installer",
    "backend/canister_upgrader",
    "backend/canisters/group/api",
    "backend/canisters/group/c2c_client",
    "backend/canisters/group/client",
    "backend/canisters/group/impl",
    "backend/canisters/group_index/api",
    "backend/canisters/group_index/c2c_client",
    "backend/canisters/group_index/client",
    "backend/canisters/group_index/impl",
    "backend/canisters/local_group_index/api",
    "backend/canisters/local_group_index/c2c_client",
    "backend/canisters/local_group_index/impl",
    "backend/canisters/local_user_index/api",
    "backend/canisters/local_user_index/c2c_client",
    "backend/canisters/local_user_index/impl",
    "backend/canisters/notifications/api",
    "backend/canisters/notifications/c2c_client",
    "backend/canisters/notifications/client",
    "backend/canisters/notifications/impl",
    "backend/canisters/notifications_index/api",
    "backend/canisters/notifications_index/c2c_client",
    "backend/canisters/notifications_index/client",
    "backend/canisters/notifications_index/impl",
    "backend/canisters/online_users/api",
    "backend/canisters/online_users/client",
    "backend/canisters/online_users/impl",
    "backend/canisters/proposals_bot/api",
    "backend/canisters/proposals_bot/impl",
    "backend/canisters/user/api",
    "backend/canisters/user/c2c_client",
    "backend/canisters/user/client",
    "backend/canisters/user/impl",
    "backend/canisters/user_index/api",
    "backend/canisters/user_index/c2c_client",
    "backend/canisters/user_index/client",
    "backend/canisters/user_index/impl",
    "backend/integration_tests",
    "backend/libraries/canister_api_macros",
    "backend/libraries/canister_client",
    "backend/libraries/canister_client_macros",
    "backend/libraries/chat_events",
    "backend/libraries/dynamodb_index_store",
    "backend/libraries/http_request",
    "backend/libraries/human_readable",
    "backend/libraries/human_readable_derive",
    "backend/libraries/index_store",
    "backend/libraries/ledger_utils",
    "backend/libraries/msgpack",
    "backend/libraries/open_storage_bucket_client",
    "backend/libraries/search",
    "backend/libraries/sha256",
    "backend/libraries/types",
    "backend/libraries/utils",
    "backend/notification_pusher/aws",
    "backend/notification_pusher/cli",
    "backend/notification_pusher/core",
    "backend/sms_sender/aws",
    "backend/sms_sender/cli",
    "backend/sms_sender/core"
]

[workspace.dependencies]
async-trait = "0.1.57"
aws-config = "0.49.0"
aws-sdk-dynamodb = "0.19.0"
aws-sdk-pinpoint = "0.19.0"
aws-types = "0.49.0"
base64 = "0.13.0"
candid = "0.8.3"
canister_logger = { git = "https://github.com/open-ic/ic-utils", rev = "2328657cbb1023fb251ee7faca4f4d313f25755f" }
canister_state_macros = { git = "https://github.com/open-ic/ic-utils", rev = "2328657cbb1023fb251ee7faca4f4d313f25755f" }
canister_timer_jobs = { git = "https://github.com/open-ic/ic-utils", rev = "2328657cbb1023fb251ee7faca4f4d313f25755f" }
canister_tracing_macros = { git = "https://github.com/open-ic/ic-utils", rev = "2328657cbb1023fb251ee7faca4f4d313f25755f" }
captcha = { git = "https://github.com/nmattia/captcha", rev = "fb3fe931c20b8577bf02070ae6b8c0ca2f442427", default-features = false }
clap = "3.0.14"
cycles_dispenser_client = { git = "https://github.com/open-ic/cycles-dispenser", rev = "c65b84be6663b82ff1387523f89aa7fa98b46eb7" }
dirs = "4.0.0"
dotenv = "0.15.0"
futures = "0.3.25"
garcon = "0.2.3"
getrandom = "0.2.8"
ic-agent = "0.22.0"
ic-base-types = { git = "https://github.com/dfinity/ic", rev = "b5a1a8c0e005216f2d945f538fc27163bafc3bf7" }
ic-cdk = "0.6.8"
ic-cdk-macros = "0.6.8"
ic-icrc1 = { git = "https://github.com/dfinity/ic", rev = "b5a1a8c0e005216f2d945f538fc27163bafc3bf7" }
ic-icrc1-client = { git = "https://github.com/dfinity/ic", rev = "b5a1a8c0e005216f2d945f538fc27163bafc3bf7" }
ic-icrc1-client-cdk = { git = "https://github.com/dfinity/ic", rev = "b5a1a8c0e005216f2d945f538fc27163bafc3bf7" }
ic-ledger-types = "0.2.0"
ic-ledger-canister-core = { git = "https://github.com/dfinity/ic", rev = "b5a1a8c0e005216f2d945f538fc27163bafc3bf7" }
ic-stable-structures = "0.5.0"
ic-state-machine-tests = { git = "https://github.com/dfinity/ic", rev = "b5a1a8c0e005216f2d945f538fc27163bafc3bf7" }
ic-utils = "0.22.0"
itertools = "0.10.5"
lazy_static = "1.4.0"
num-traits = "0.2.15"
open_storage_bucket_canister = { package = "bucket_canister", git = "https://github.com/open-ic/open-storage", rev = "7b5bd30a029c476d0035bcdb0fdb2987108123ba" }
open_storage_bucket_canister_c2c_client = { package = "bucket_canister_c2c_client", git = "https://github.com/open-ic/open-storage", rev = "7b5bd30a029c476d0035bcdb0fdb2987108123ba" }
open_storage_index_canister = { package = "index_canister", git = "https://github.com/open-ic/open-storage", rev = "7b5bd30a029c476d0035bcdb0fdb2987108123ba" }
open_storage_index_canister_c2c_client = { package = "index_canister_c2c_client", git = "https://github.com/open-ic/open-storage", rev = "7b5bd30a029c476d0035bcdb0fdb2987108123ba" }
openssl = "0.10.42"
proc-macro2 = "1.0.50"
quote = "1.0.21"
rand = "0.8.5"
rand_chacha = "0.3.1"
rand_core = "0.6.4"
range-set = "0.0.9"
regex = "1.6.0"
rmp-serde = "1.1.1"
serde = "1.0.145"
serde_bytes = "0.11.7"
serde_cbor = "0.11.2"
serde_json = "1.0.86"
sha2 = "0.10.6"
serializer = { git = "https://github.com/open-ic/ic-utils", rev = "2328657cbb1023fb251ee7faca4f4d313f25755f" }
syn = "1.0.102"
test-case = "2.2.2"
tokio = "1.25.0"
tracing = "0.1.37"
tracing-attributes = "0.1.23"
tracing-subscriber = "0.3.16"
web-push = { version = "0.9.3", default-features = false, features = ["hyper-client"] }

[profile.release]
lto = true
opt-level = "z"
codegen-units = 1
debug = false

[patch.crates-io]
candid = { git = "https://github.com/hpeebles/candid", rev = "bc66c9eb4373f0312c5874652c87badc5e843f04" }
candid_derive = { git = "https://github.com/hpeebles/candid", rev = "bc66c9eb4373f0312c5874652c87badc5e843f04" }
ic-cdk = { git = "https://github.com/hpeebles/cdk-rs", rev = "f758bf78e6ec18850e6d023c4f60586376d24885" }
ic-cdk-macros = { git = "https://github.com/hpeebles/cdk-rs", rev = "f758bf78e6ec18850e6d023c4f60586376d24885" }
ic-ledger-types = { git = "https://github.com/hpeebles/cdk-rs", rev = "f758bf78e6ec18850e6d023c4f60586376d24885" }
ic-stable-structures = { git = "https://github.com/hpeebles/stable-structures", rev = "5fb22b3221765acb5fab626217896fb23a52023d" }
range-set = { git = "https://github.com/hpeebles/range-set", rev = "d776de4e38b9d7bf755910da5513c2d8c107bf7e" }
