[workspace]
members = [
    "backend/bots/api",
    "backend/bots/c2c_client",
    "backend/bots/examples/group_prize_bot/api",
    "backend/bots/examples/group_prize_bot/impl",
    "backend/bots/examples/icp_dispenser/api",
    "backend/bots/examples/icp_dispenser/impl",
    "backend/bots/examples/satoshi_dice/api",
    "backend/bots/examples/satoshi_dice/impl",
    "backend/bots/examples/sns1_airdrop/api",
    "backend/bots/examples/sns1_airdrop/impl",
    "backend/canister_installer",
    "backend/canister_upgrade_proposal_builder",
    "backend/canister_upgrader",
    "backend/canisters/community/api",
    "backend/canisters/community/c2c_client",
    "backend/canisters/community/impl",
    "backend/canisters/cycles_dispenser/api",
    "backend/canisters/cycles_dispenser/impl",
    "backend/canisters/group/api",
    "backend/canisters/group/c2c_client",
    "backend/canisters/group/client",
    "backend/canisters/group/impl",
    "backend/canisters/group_index/api",
    "backend/canisters/group_index/c2c_client",
    "backend/canisters/group_index/client",
    "backend/canisters/group_index/impl",
    "backend/canisters/local_group_index/api",
    "backend/canisters/local_group_index/c2c_client",
    "backend/canisters/local_group_index/impl",
    "backend/canisters/local_user_index/api",
    "backend/canisters/local_user_index/c2c_client",
    "backend/canisters/local_user_index/impl",
    "backend/canisters/market_maker/api",
    "backend/canisters/market_maker/client",
    "backend/canisters/market_maker/impl",
    "backend/canisters/notifications/api",
    "backend/canisters/notifications/c2c_client",
    "backend/canisters/notifications/client",
    "backend/canisters/notifications/impl",
    "backend/canisters/notifications_index/api",
    "backend/canisters/notifications_index/c2c_client",
    "backend/canisters/notifications_index/client",
    "backend/canisters/notifications_index/impl",
    "backend/canisters/online_users/api",
    "backend/canisters/online_users/client",
    "backend/canisters/online_users/impl",
    "backend/canisters/proposal_validation/api",
    "backend/canisters/proposal_validation/impl",
    "backend/canisters/proposals_bot/api",
    "backend/canisters/proposals_bot/impl",
    "backend/canisters/registry/api",
    "backend/canisters/registry/client",
    "backend/canisters/registry/impl",
    "backend/canisters/storage_bucket/api",
    "backend/canisters/storage_bucket/c2c_client",
    "backend/canisters/storage_bucket/impl",
    "backend/canisters/storage_index/api",
    "backend/canisters/storage_index/c2c_client",
    "backend/canisters/storage_index/client",
    "backend/canisters/storage_index/impl",
    "backend/canisters/user/api",
    "backend/canisters/user/c2c_client",
    "backend/canisters/user/client",
    "backend/canisters/user/impl",
    "backend/canisters/user_index/api",
    "backend/canisters/user_index/c2c_client",
    "backend/canisters/user_index/client",
    "backend/canisters/user_index/impl",
    "backend/external_canisters/icp_ledger/api",
    "backend/external_canisters/icp_ledger/c2c_client",
    "backend/external_canisters/sns_governance/api",
    "backend/external_canisters/sns_governance/c2c_client",
    "backend/external_canisters/sns_wasm/api",
    "backend/external_canisters/sns_wasm/c2c_client",
    "backend/integration_tests",
    "backend/libraries/activity_notification_state",
    "backend/libraries/canister_agent_utils",
    "backend/libraries/canister_api_macros",
    "backend/libraries/canister_client",
    "backend/libraries/canister_client_macros",
    "backend/libraries/canister_logger",
    "backend/libraries/canister_state_macros",
    "backend/libraries/canister_time",
    "backend/libraries/canister_timer_jobs",
    "backend/libraries/canister_tracing_macros",
    "backend/libraries/chat_events",
    "backend/libraries/cycles_dispenser_client",
    "backend/libraries/dynamodb_index_store",
    "backend/libraries/fire_and_forget_handler",
    "backend/libraries/gated_groups",
    "backend/libraries/group_chat_core",
    "backend/libraries/http_request",
    "backend/libraries/human_readable",
    "backend/libraries/human_readable_derive",
    "backend/libraries/index_store",
    "backend/libraries/ledger_utils",
    "backend/libraries/msgpack",
    "backend/libraries/storage_bucket_client",
    "backend/libraries/search",
    "backend/libraries/serializer",
    "backend/libraries/sha256",
    "backend/libraries/stable_memory",
    "backend/libraries/types",
    "backend/libraries/utils",
    "backend/notification_pusher/aws",
    "backend/notification_pusher/cli",
    "backend/notification_pusher/core",
]

[workspace.dependencies]
async-trait = "0.1.68"
aws-config = "0.55.3"
aws-sdk-dynamodb = "0.28.0"
aws-types = "0.55.3"
base64 = "0.21.2"
bitflags = { version = "2.3.3", features = ["serde"] }
candid = "0.8.4"
ciborium = { git = "https://github.com/enarx/ciborium", rev = "e719537c99b564c3674a56defe53713c702c6f46" }
clap = "4.3.4"
dirs = "5.0.1"
dotenv = "0.15.0"
futures = "0.3.28"
getrandom = "0.2.10"
hex = "0.4.3"
ic-agent = "0.24.1"
ic-cdk = "0.8.1"
ic-cdk-macros = "0.6.10"
ic-cdk-timers = "0.2.0"
ic-icrc1 = { git = "https://github.com/dfinity/ic", rev = "b314222935b7d06c70036b0b54aa80a33252d79c" }
ic-icrc1-client = { git = "https://github.com/dfinity/ic", rev = "b314222935b7d06c70036b0b54aa80a33252d79c" }
ic-icrc1-client-cdk = { git = "https://github.com/dfinity/ic", rev = "b314222935b7d06c70036b0b54aa80a33252d79c" }
ic-ledger-types = "0.5.0"
ic-ledger-canister-core = { git = "https://github.com/dfinity/ic", rev = "b314222935b7d06c70036b0b54aa80a33252d79c" }
ic-sns-governance = { git = "https://github.com/dfinity/ic", rev = "b314222935b7d06c70036b0b54aa80a33252d79c" }
ic-stable-structures = "0.5.4"
ic-test-state-machine-client = { git = "https://github.com/dfinity/test-state-machine-client", rev = "287fd445c098e9c33462df0c810d79f120ed9431" }
ic-utils = "0.24.1"
ic0 = "0.18.10"
icrc-ledger-types = { git = "https://github.com/dfinity/ic", rev = "b314222935b7d06c70036b0b54aa80a33252d79c" }
itertools = "0.10.5"
lazy_static = "1.4.0"
num-traits = "0.2.15"
openssl = "0.10.55"
proc-macro2 = "1.0.60"
quote = "1.0.28"
rand = "0.8.5"
rand_chacha = "0.3.1"
rand_core = "0.6.4"
range-set = "0.0.9"
regex = "1.8.4"
rmp-serde = "1.1.1"
serde = "1.0.164"
serde_bytes = "0.11.9"
serde_cbor = "0.11.2"
serde_json = "1.0.96"
sha2 = "0.10.6"
sha3 = "0.10.8"
syn = "2.0.18"
test-case = "3.1.0"
time = "0.3.22"
tokio = "1.28.2"
tracing = "0.1.37"
tracing-attributes = "0.1.24"
tracing-subscriber = "0.3.17"
web-push = { version = "0.9.5", default-features = false, features = ["hyper-client"] }
x509-parser = "0.15.0"

[profile.release]
lto = true
opt-level = "z"
codegen-units = 1
debug = false

[patch.crates-io]
ic-cdk-macros = { git = "https://github.com/hpeebles/cdk-rs", rev = "24e36cdf4115ae3a2d0747613833b2b4e0871fe4" }
ic-stable-structures = { git = "https://github.com/hpeebles/stable-structures", rev = "14783e187c17ad3a164fb501219b002b667ee006" }
