[package]
name = "market_maker_canister_impl"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
async-trait = { workspace = true }
candid = { workspace = true }
canister_client = { path = "../../../libraries/canister_client" }
canister_logger = { workspace = true }
canister_state_macros = { workspace = true }
canister_tracing_macros = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
http_request = { path = "../../../libraries/http_request" }
ic-cdk = { workspace = true }
ic-cdk-macros = { workspace = true }
ic-cdk-timers = { workspace = true }
ic-icrc1 = { workspace = true }
ic-icrc1-client = { workspace = true }
ic-icrc1-client-cdk = { workspace = true }
ic-stable-structures = { workspace = true, features = ["candid"] }
itertools = { workspace = true }
market_maker_canister = { path = "../api" }
msgpack = { path = "../../../libraries/msgpack" }
serde = { workspace = true }
serde_bytes = { workspace = true }
serializer = { workspace = true }
tracing = { workspace = true }
types = { path = "../../../libraries/types" }
user_index_canister_c2c_client = { path = "../../user_index/c2c_client" }
utils = { path = "../../../libraries/utils" }
