[package]
name = "community_canister_impl"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
candid = { workspace = true }
canister_api_macros = { path = "../../../libraries/canister_api_macros" }
canister_logger = { workspace = true }
canister_state_macros = { workspace = true }
canister_timer_jobs = { workspace = true }
canister_tracing_macros = { workspace = true }
chat_events = { path = "../../../libraries/chat_events" }
community_canister = { path = "../api" }
gated_groups = { path = "../../../libraries/gated_groups" }
group_chat_core = { path = "../../../libraries/group_chat_core" }
group_index_canister = { path = "../../group_index/api" }
group_index_canister_c2c_client = { path = "../../group_index/c2c_client" }
group_members = { path = "../../../libraries/group_members" }
http_request = { path = "../../../libraries/http_request" }
ic-cdk = { workspace = true }
ic-cdk-macros = { workspace = true }
ic-cdk-timers = { workspace = true }
ic-stable-structures = { workspace = true }
msgpack = { path = "../../../libraries/msgpack" }
notifications_canister = { path = "../../notifications/api" }
notifications_canister_c2c_client = { path = "../../notifications/c2c_client" }
rand = { workspace = true }
serde = { workspace = true }
serializer = { workspace = true }
storage_bucket_client = { path = "../../../libraries/storage_bucket_client" }
tracing = { workspace = true }
types = { path = "../../../libraries/types" }
user_canister = { path = "../../user/api" }
user_canister_c2c_client = { path = "../../user/c2c_client" }
user_index_canister = { path = "../../user_index/api" }
user_index_canister_c2c_client = { path = "../../user_index/c2c_client" }
utils = { path = "../../../libraries/utils" }
