[workspace]

[package]
name = "integration_tests"
version = "0.1.0"
authors = ["Hamish Peebles <hamishpeebles@gmail.com>", "Matt Grogan <megrogan@gmail.com>", "Julian Jelfs <julian.jelfs@gmail.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
candid = "0.7.17"
canister_client = { path = "../libraries/canister_client" }
fondue = { git = "ssh://github.com/dfinity-lab/dfinity", rev = "e2ae8ea3958cf16e5116acae513cacb7cb6c6b92" }
futures = "0.3.21"
garcon = "0.2.3"
group_canister = { path = "../canisters/group/api" }
group_canister_client = { path = "../canisters/group/client" }
group_index_canister = { path = "../canisters/group_index/api" }
group_index_canister_client = { path = "../canisters/group_index/client" }
ic-agent = "0.20.0"
ic-fondue = { git = "ssh://github.com/dfinity-lab/dfinity", rev = "e2ae8ea3958cf16e5116acae513cacb7cb6c6b92" }
ic-registry-subnet-type = { git = "ssh://github.com/dfinity-lab/dfinity", rev = "e2ae8ea3958cf16e5116acae513cacb7cb6c6b92" }
ic-replica = { git = "ssh://github.com/dfinity-lab/dfinity", rev = "e2ae8ea3958cf16e5116acae513cacb7cb6c6b92" }
ic-rosetta-api = { git = "ssh://github.com/dfinity-lab/dfinity", rev = "e2ae8ea3958cf16e5116acae513cacb7cb6c6b92" }
ic-utils = "0.20.0"
itertools = "0.10.3"
nodemanager = { git = "ssh://github.com/dfinity-lab/dfinity", rev = "e2ae8ea3958cf16e5116acae513cacb7cb6c6b92" }
notifications_canister = { path = "../canisters/notifications/api" }
notifications_canister_client = { path = "../canisters/notifications/client" }
online_users_aggregator_canister = { path = "../canisters/online_users_aggregator/api" }
online_users_aggregator_canister_client = { path = "../canisters/online_users_aggregator/client" }
serde = "1.0.137"
serde_bytes = "0.11.6"
tokio = { version = "1.10.0", features = ["full"] }
types = { path = "../../backend/libraries/types", default-features = false }
url = "2.2.2"
user_canister = { path = "../canisters/user/api" }
user_canister_client = { path = "../canisters/user/client" }
user_index_canister = { path = "../canisters/user_index/api" }
user_index_canister_client = { path = "../canisters/user_index/client" }

[patch.crates-io]
ic-agent = { git = "https://github.com/dfinity/agent-rs", rev = "ec59fc0f5034efd9e29bc8ee6e35d8a906239d2d" }

[patch."https://github.com/dfinity-lab/lmdb-rs"]
lmdb-rkv = { git = "https://github.com/hpeebles/lmdb-rs", rev = "04f94c27f607b28e181d3965bdebc330c1489c87" }
