[workspace]
members = [
    "backend/canisters/group",
    "backend/canisters/group_index",
    "backend/canisters/notifications",
    "backend/canisters/user",
    "backend/canisters/user_index",
    "backend/notification_service",
    "backend/shared",
    "backend/sms_service",
]

[profile.release]
lto = true
opt-level = "z"
codegen-units = 1
