[workspace]
members = [
    "backend/canisters/group/api",
    "backend/canisters/group/impl",
    "backend/canisters/group_index/api",
    "backend/canisters/group_index/impl",
    "backend/canisters/notifications/api",
    "backend/canisters/notifications/impl",
    "backend/canisters/user/api",
    "backend/canisters/user/impl",
    "backend/canisters/user_index/canister",
    "backend/notification_service",
    "backend/shared",
    "backend/sms_service",
]

[profile.release]
lto = true
opt-level = "z"
codegen-units = 1
