[workspace]
members = [
    "backend/canisters/group/api",
    "backend/canisters/group/client",
    "backend/canisters/group/impl",
    "backend/canisters/group_index/api",
    "backend/canisters/group_index/client",
    "backend/canisters/group_index/impl",
    "backend/canisters/notifications/api",
    "backend/canisters/notifications/client",
    "backend/canisters/notifications/impl",
    "backend/canisters/user/api",
    "backend/canisters/user/client",
    "backend/canisters/user/impl",
    "backend/canisters/user_index/api",
    "backend/canisters/user_index/client",
    "backend/canisters/user_index/impl",
    "backend/notification_service/aws",
    "backend/notification_service/shared",
    "backend/shared",
    "backend/sms_service",
]

[profile.release]
lto = true
opt-level = "z"
codegen-units = 1
