<!doctype html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-7P9R6CJLNR"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", "G-7P9R6CJLNR");
        </script>
        <script>
            window.global ||= window;
        </script>
        <!-- CLS Tracking Code -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-WQD48GK2");
        </script>
        <!-- End CLS Tracking Code -->
        <meta name="theme-color" media="(prefers-color-scheme: light)" content="#22A7F2" />
        <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1B1C21" />
        <meta
            name="description"
            content="OpenChat is a fully featured chat application running end-to-end on the Internet Computer blockchain."
        />
        <meta property="og:title" content="OpenChat" />
        <meta property="og:type" content="website" />
        <meta
            property="og:description"
            content="OpenChat is a fully featured chat application running end-to-end on the Internet Computer blockchain."
        />
        <meta property="og:image" content="https://oc.app/assets/share-oc-light.png" />
        <meta name="twitter:image" content="https://oc.app/assets/share-oc-light.png" />
        <meta property="og:url" content="https://oc.app" />
        <meta name="twitter:card" content="summarlarge_image" />
        <meta property="og:site_name" content="OpenChat" />
        <meta
            name="twitter:image:alt"
            content="OpenChat is a fully featured chat application running end-to-end on the Internet Computer blockchain."
        />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="apple-mobile-web-app-title" content="OpenChat" />
        <meta name="twitter:widgets:autoload" content="off" />
        <meta name="twitter:dnt" content="on" />
        <meta name="twitter:widgets:csp" content="on" />
        <link rel="canonical" href="/" />
        <title>OpenChat</title>
        <link rel="manifest" href="/openchat.webmanifest" />
        <link rel="apple-touch-startup-image" href="/_/raw/apple-touch-icon.png" />
        <link rel="apple-touch-icon" href="/_/raw/apple-touch-icon.png" />
        <link rel="icon" type="image/png" href="/icon.png" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Bebas+Neue&family=Manrope:wght@400;500;700&family=Roboto:wght@200;300;400;700&display=swap"
            rel="stylesheet"
        />
        <script type="module" src="https://platform.twitter.com/widgets.js"></script>
        <%- csp %> <%- injectScript %>
    </head>
    <template
        id="profile-link-template"
        style="cursor: pointer; font-weight: 700; text-decoration: underline"
    ></template>
    <body>
        <!-- CLS Tracking (noscript) -->
        <noscript
            ><iframe
                src="https://www.googletagmanager.com/ns.html?id=GTM-WQD48GK2"
                height="0"
                width="0"
                style="display: none; visibility: hidden"
            ></iframe
        ></noscript>
        <!-- End CLS Tracking (noscript) -->
    </body>
</html>
