@function toRem($value: 16) {
    $remValue: math.div($value, 16) + rem;
    @return $remValue;
}

$breakpoints: (
    xxs: 354px,
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    // this is the default width on 15' macbook
    xl: 1792px,
    xxl: 2000px,
);

$font-weights: (
    light: 200,
    book: 400,
    medium: 500,
    bold: 700,
);

// =============================================
// FONT-SIZES
// =============================================

// Usage: @include font-size(fs-100);
// The purpose of the key-numbers is to have them ordered relative to their font-size.
// The key-numbers are not related in any other way to the font-size or line-height.
$font-sizes: (
    fs-50: (
        font-size: toRem(11),
        line-height: 1.3,
    ),
    fs-60: (
        font-size: toRem(12),
        line-height: 1.35,
    ),
    fs-70: (
        font-size: toRem(13),
        line-height: 1.4,
    ),
    fs-80: (
        font-size: toRem(14),
        line-height: 1.4,
    ),
    fs-90: (
        font-size: toRem(15),
        line-height: 1.45,
    ),
    fs-100: (
        font-size: toRem(16),
        line-height: 1.5,
    ),
    fs-110: (
        font-size: toRem(18),
        line-height: 1.3,
    ),
    fs-120: (
        font-size: toRem(20),
        line-height: 1.2,
    ),
    fs-130: (
        font-size: toRem(22),
        line-height: 1.2,
    ),
    fs-140: (
        font-size: toRem(24),
        line-height: 1.2,
    ),
    fs-160: (
        font-size: toRem(28),
        line-height: 1.2,
    ),
    fs-180: (
        font-size: toRem(32),
        line-height: 1.2,
    ),
    fs-200: (
        font-size: toRem(36),
        line-height: 1.2,
    ),
    fs-220: (
        font-size: toRem(40),
        line-height: 1.2,
    ),
    fs-230: (
        font-size: toRem(48),
        line-height: 1.2,
    ),
    fs-240: (
        font-size: toRem(60),
        line-height: 1.2,
    ),
    fs-250: (
        font-size: toRem(70),
        line-height: 1.2,
    ),
    fs-260: (
        font-size: toRem(80),
        line-height: 1.2,
    ),
);

// =========================================================
// SPACING
// =========================================================

$sp1: 2px;
$sp2: 4px;
$sp3: 8px;
$sp4: 16px;
$sp5: 24px;
$sp6: 32px;
$sp7: 48px;
$sp8: 64px;
$sp9: 96px;
$sp10: 144px;
$sp11: 192px;

@mixin fullScreenImg($img) {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url($img);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin ellipsis($width: auto) {
    width: $width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin fullHeight() {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

/* Media query stuff */

@mixin size-above($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);
        @media (min-width: $breakpoint-value) {
            @content;
        }
    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin mobile() {
    @include size-below(sm) {
        @content;
    }
}

@mixin not-mobile() {
    @include size-above(sm) {
        @content;
    }
}

@mixin size-below-n($n) {
    @media (max-width: ($n - 1)) {
        @content;
    }
}

@mixin size-below($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);
        @media (max-width: ($breakpoint-value - 1)) {
            @content;
        }
    } @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin spin($speed: 0.8s) {
    animation: loading-spinner $speed linear infinite;
}

@mixin pulse() {
    animation: pulse 1s linear infinite;
}

@mixin pop($duration: 150ms) {
    animation: pop $duration ease-out;
}

@mixin loading-spinner(
    $size: 1.2em,
    $offset: 0.6em,
    $spinner-color: #191919,
    $background-image: "/assets/spinner.svg",
    $speed: 0.8s,
    $opacity: 0.5
) {
    position: relative;

    &::after {
        content: "";
        display: block;
        width: $size;
        height: $size;
        position: absolute;
        // border: 3px solid;
        opacity: $opacity;
        background-image: url($background-image);
        left: calc(50% - #{$offset});
        top: calc(50% - #{$offset});
        transform-origin: 50% 50%;
        @include spin($speed);
        color: $spinner-color;
        z-index: 10;
    }
}

@keyframes loading-spinner {
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(0.9);
    }
}

@keyframes pop {
    0% {
        transform: scale(0.7);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* z-index stuff */

/* 
    Add items to this map in the order that they need to stack in the UI 
    then apply z-index using the z-index mixin and the real z-indexes will 
    be sorted out magically
*/
$z-indexed-items: (
    "global": (
        "login",
        "bubble-stem",
        "left-panel",
        "current-user",
        "right-panel",
        "date-label",
        "witch",
        "footer",
        "section-header",
        "fab",
        "action-list",
        "powered-by",
        "features",
        "phone",
        "phone-image",
        "spider",
        "landing-page-menu",
        "left-nav",
        "footer-overlay",
        "zoom",
        "anon-banner",
        "video-call",
        "overlay",
        "toast",
        "tooltip",
        "popup-menu",
        "upgrade-banner",
        "profiler",
        "dollar",
        "coin",
        "chit",
    ),
);

$z-index-map: ();

@each $group-name, $group-list in $z-indexed-items {
    $counter: 1;
    $group-map: ();
    @each $item in $group-list {
        $group-map: map-merge(
            $group-map,
            (
                $item: $counter,
            )
        );
        $counter: $counter + 1;
    }
    $z-index-map: map-merge(
        $z-index-map,
        (
            $group-name: $group-map,
        )
    );
}

@mixin z-index($key, $group: "global") {
    @if map-has-key($z-index-map, $group) {
        @if map-has-key(map-get($z-index-map, $group), $key) {
            z-index: map-get(map-get($z-index-map, $group), $key);
        } @else {
            @error ('@include z-index() expects $key to be found in map z-indexed-items #{$group}, given `#{$key}`');
        }
    } @else {
        @error ('@include z-index() expects $group to be found in map z-indexed-items, given `#{$group}`');
    }
}

$shadow-level-1: 0 2px 5px 0 rgba(25, 25, 25, 0.3);
$shadow-level-2: 0 2px 10px 0 rgba(25, 25, 25, 0.3);
$shadow-level-3: 2px 6px 12px 0 rgba(25, 25, 25, 0.55);

@mixin box-shadow($level) {
    @if $level == 1 {
        box-shadow: $shadow-level-1;
    } @else if $level == 2 {
        box-shadow: $shadow-level-2;
    } @else if $level == 3 {
        box-shadow: $shadow-level-3;
    } @else {
        @error ('box-shadow $level does not exist!');
    }
}

@mixin font-size($type: fs-100, $line-height: null) {
    // Generating mixins below: Do not change
    $type: map-get($font-sizes, $type);

    // LINE-HEIGHTS
    @if map-has-key($type, line-height) {
        @if $line-height {
            line-height: toRem($line-height);
        } @else {
            line-height: map-get($type, line-height);
        }
    }

    // FONT-SIZES
    @if map-has-key($type, font-size) {
        font-size: map-get($type, font-size);
    }
}

@mixin font-family($weight: book) {
    @if $weight == book {
        font-family: var(--font);
    }

    @if $weight == light {
        font-family: var(--font);
    }

    @if $weight == medium {
        font-family: var(--font-bold);
    }

    @if $weight == bold {
        font-family: var(--font-bold);
    }
}

@mixin font($weight: book, $style: null, $size: null, $line-height: null) {
    // Error handling
    @if map-has-key($font-weights, $weight) {
        font-weight: map-get($font-weights, $weight);
        @include font-family($weight);
    } @else {
        @error ('@include font() expects $weight to be found in map font, given `#{$weight}`');
    }

    @if $style {
        font-style: $style;
    }

    @if $size {
        @include font-size($size, $line-height);
    }
}

@mixin nice-scrollbar() {
    &::-webkit-scrollbar {
        background-color: transparent;
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-bg);
        border-radius: 2px;
    }

    overflow-y: overlay;
    scrollbar-color: var(--scrollbar-bg) transparent;
    scrollbar-width: thin;
}

@mixin unread() {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent);
    text-shadow: 1px 1px 1px var(--accentDarker);
    border-radius: 12px;
    @include font(bold, normal, fs-50);
    color: #ffffff;
    min-width: $sp5;
    padding: 0 $sp2;
    height: $sp5;

    @include mobile() {
        min-width: 18px;
        height: 18px;
    }
}

@mixin message-list() {
    flex: auto;
    background-color: var(--panel-bg);
    padding: $sp3 $sp4;
    overflow-x: hidden;
    overscroll-behavior-y: contain;
    position: relative;

    @include nice-scrollbar();

    @include mobile() {
        padding: 10px;
        -webkit-overflow-scrolling: touch;
    }
}

@mixin lp-content-padding($gutter: 160, $mobile-gutter: 24) {
    padding: 0 toRem($gutter);
    @include mobile() {
        padding: 0 toRem($mobile-gutter);
    }
}

@mixin input($whitespace: nowrap) {
    padding: $sp3 $sp4;
    @include font(book, normal, fs-100);
    color: var(--txt);
    background-color: var(--input-bg);
    border: var(--bw) solid var(--input-bd);
    border-radius: var(--rd);
    outline: none;
    box-shadow: var(--input-sh);
    white-space: $whitespace;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin bullet_list() {
    text-align: left;
    list-style: none;
    margin: 0 0 toRem(12) toRem(22);
    padding: 0;
    position: relative;

    > li {
        &:before {
            position: absolute;
            content: "\25AA";
            left: toRem(-25);
            color: #23a2ee;
        }
    }

    ul {
        margin-top: toRem(8);
        list-style: disc;

        > li {
            margin-left: toRem(16);
        }
    }
}

@mixin no_user_select() {
    -webkit-touch-callout: none; // Safari
    -webkit-user-select: none; // Safari
    -khtml-user-select: none; // Konqueror HTML
    -moz-user-select: none; // Old versions of Firefox
    -ms-user-select: none; // Internet Explorer/Edge
    user-select: none; // Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox
}

@mixin left_panel_header() {
    display: flex;
    flex: 1;
    align-items: center;
    gap: $sp4;

    @include mobile() {
        padding: 0 $sp3;
    }

    .icon {
        display: flex;
    }

    .details {
        flex: auto;

        h4 {
            @include font(book, normal, fs-120);
        }
    }
}

@mixin cobweb() {
    content: "";
    display: block;
    background-image: url("/assets/cobweb.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    position: absolute;
    @include z-index("spider");
    pointer-events: none;

    @include mobile {
        width: 80px;
        height: 80px;
    }
}

@mixin disappearing() {
    height: calc(1em + 4px);
    width: calc(1em + 4px);
    padding: 2px;
    border-radius: 50%;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: -2px;
    right: 2px;
}

@mixin clamp($lines: 2) {
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
