[package]
name = "types"
version = "0.1.0"
authors = ["Hamish Peebles <hamishpeebles@gmail.com>", "Matt Grogan <megrogan@gmail.com>", "Julian Jelfs <julian.jelfs@gmail.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
base64 = "0.13.0"
candid = "0.7.17"
ic-icrc1 = { git = "https://github.com/dfinity/ic", rev = "4bd164bbc600421a2e6f93feb41f3d1479bb8d0f" }
ic-ledger-types = "0.1.1"
serde = "1.0.137"
serde_bytes = "0.11.6"
serde_json = "1.0.81"
