[package]
name = "user_index_canister_impl"
version = "0.1.0"
authors = ["Hamish Peebles <hamishpeebles@gmail.com>", "Matt Grogan <megrogan@gmail.com>", "Julian Jelfs <julian.jelfs@gmail.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
candid = "0.7.10"
canister_api_macros = { path = "../../../libraries/canister_api_macros" }
canister_logger = { path = "../../../libraries/canister_logger" }
canister_state_macros = { path = "../../../libraries/canister_state_macros" }
#  We need a custom captcha that allows using custom RNGs https://github.com/dfinity/internet-identity/issues/472
captcha = { git = 'https://github.com/nmattia/captcha', rev = '4751b6fa4e56229c2af5b9a28195ff039551d8e7' }
futures = "0.3.16"
group_canister = { path = "../../group/api" }
group_canister_c2c_client = { path = "../../group/c2c_client" }
http_request = { path = "../../../libraries/http_request" }
ic-cdk = "0.5.0"
ic-cdk-macros = "0.5.0"
ic-ledger-types = "0.1.1"
itertools = "0.10.1"
ledger_utils = { path = "../../../libraries/ledger_utils" }
lodepng = "3.6.1"
open_storage_index_canister = { path = "../../open_storage_index/api" }
open_storage_index_canister_c2c_client = { path = "../../open_storage_index/c2c_client" }
rand = "0.7.3"
rand_chacha = "0.2.2"
rand_core = "0.5.1"
serde = "1.0.126"
serializer = { path = "../../../libraries/serializer" }
tracing = "0.1.29"
types = { path = "../../../libraries/types", features = ["compression"] }
user_canister = { path = "../../user/api" }
user_canister_c2c_client = { path = "../../user/c2c_client" }
user_index_canister = { path = "../api" }
utils = { path = "../../../libraries/utils" }