*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

img {
    vertical-align: middle;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.5;
    background-color: #41398b;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    padding: 0;
    border: 0;
    outline: none;
    cursor: pointer;
}

@media screen and (min-width: 1450px) {
    body {
        padding: 25px;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
}

.avatar-button {
    border-radius: 50%;
    height: 40px;
}

.chats li .avatar {
    width: 49px;
    height: 49px;
    margin-top: 7px;
}

.chats li svg.avatar {
    width: 56px;
    height: 56px;
    margin-top: 3px;
}

#app {
    flex-grow: 1;
    display: flex;
    max-width: 1400px;
}

.sidebar {
    flex: 1 1 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

main {
    flex: 1 1 60%;
    background-color: #e5ddd5;
    background-color: #3dc5ee;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1200px) {
    .sidebar {
        flex: 0 0 480px;
    }
    main {
        flex: 1 1 auto;
    }
}

.date {
    font-size: 12px;
    color: #808080;
}

.search {
    background-color: #f6f6f6;
    padding: 6px 15px;
    position: relative;
}

.search > svg {
    display: block;
    float: left;
    position: absolute;
    top: 11px;
    left: 25px;
    color: #aaaaaa;
}

.search input {
    background-color: white;
    width: 100%;
    border: 0;
    border-radius: 25px;
    padding: 4px 15px 6px 64px;
    color: #bbbbbb;
    font-size: 15px;
    font-weight: 300;
    outline: none;
}

.search input:focus {
    color: #111111;
}

header {
    padding: 6px 15px;
    background-color: #ededed;
}

.sidebar header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar header > div {
    display: flex;
    align-items: center;
}

.sidebar header button.add-chat {
    padding: 8px;
    margin-right: 2px;
    border-radius: 15px;
    background-color: transparent;
}

.sidebar header button.add-group {
    background-color: transparent;
    border-radius: 50%;
}

.sidebar header > div button:hover {
    background-color: #e0e0e0;
}

.sidebar header button.add-group svg {
    margin-right: 8px;
    color: #41398b;
}

main header {
    border-left: 1px solid #dddddd;
    display: flex;
    flex-direction: row;
}

main header>div {
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main header>div >div {
    line-height: normal;
}

.sidebar ul, li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.chats {
    flex: 1 1;
}

.chats li {
    padding-left: 15px;
    height: 64px;
    display: flex;
    flex-direction: row;
}

.chats li .message-container {
    border-bottom: 1px solid #e6e6e6;
    padding: 6px 15px 6px 15px;
    min-width: 0;
    width: 100%;
}

.chats li .date {
    float: right;
}

.chats li .message {
    font-size: 14px;
    color: #606060;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chats li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.chats li.selected {
   background-color: #e0e0e0;
}

.detail {
    padding: 14px 20px 0 20px;
    flex: 1 1;
    overflow:auto;
    display: flex;
    flex-direction: column;
}

.detail .message {
    max-width: 500px;
    background-color: white;
    padding: 8px 16px;
    border-radius: 20px;
    margin: 0px;
    margin-bottom: 16px;
}

.detail .day-change-marker {
    padding: 6px 12px;
    border-radius: 10px;
    background-color: #dddddd;
    margin-bottom: 16px;
    align-self: center;
    font-size: 13px;
}

.detail .me {
    align-self: flex-end;
    background-color: #d62c7d;
    color: white;
}

main footer {
    display: flex;
    padding: 11px 16px;
    background-color: #f0f0f0;
}

main footer input {
    background-color: white;
    flex-grow: 1;
    border: 0;
    border-radius: 25px;
    padding: 8px 15px 10px 15px;
    font-size: 15px;
    font-weight: 300;
    outline: none;
    color: #111111;
}

main footer input::placeholder {
    color: #bbbbbb;
}

main footer button.send {
    outline: 0;
    height: 25px;
    border: 0;
    color: #9b9b9b;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    cursor: pointer;
    align-self: center;
    background-color: transparent;
}

footer button svg {
    margin: 0;
    padding: 0;
}
