*, ::after, ::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

img {
    vertical-align: middle;
}

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    line-height: 1.5;
    background-color: #41398b;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, video {
    padding: 0;
    border: 0;
    outline: none;
}

button {
    cursor: pointer;
}

@media screen and (min-width: 1450px) {
    body {
        padding: 25px;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: transparent;
}

.avatar-button {
    border-radius: 50%;
    height: 40px;
    cursor: pointer;
}

.chats li .avatar {
    width: 49px;
    height: 49px;
    margin-top: 7px;
}

.chats li svg.avatar {
    width: 56px;
    height: 56px;
    margin-top: 3px;
}

#app {
    flex-grow: 1;
    display: flex;
    max-width: 1400px;
}

.sidebar {
    flex: 1 1 40%;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

main {
    flex: 1 1 60%;
    background-color: #e5ddd5;
    background-color: #3dc5ee;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1200px) {
    .sidebar {
        flex: 0 0 480px;
    }
    main {
        flex: 1 1 auto;
    }
}

.date {
    font-size: 12px;
    color: #808080;
}

.search {
    background-color: #f6f6f6;
    padding: 6px 15px;
    position: relative;
}

.search > svg {
    display: block;
    float: left;
    position: absolute;
    top: 11px;
    left: 25px;
    color: #aaaaaa;
}

.search input {
    background-color: white;
    width: 100%;
    border: 0;
    border-radius: 25px;
    padding: 4px 15px 6px 64px;
    font-size: 15px;
    font-weight: 300;
    outline: none;
    color: #111111;
}

header {
    padding: 6px 15px;
    background-color: #ededed;
}

.sidebar header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar header > div {
    display: flex;
    align-items: center;
}

.ddl {
    position: relative;
    display: inline-block;  
}

.ddl-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.ddl-content a {
    font-size: 14px;
    color: #606060;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.ddl-content a:hover {
    background-color: #f0f0f0;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.ddl-button {
    color: #919191;
    border-radius: 50%;
    padding: 6px;
    background-color: transparent;
    width: 36px;
    height: 36px;
}

.ddl-button-svg {
    vertical-align: middle;
    pointer-events: none;
}

.ddl-button:hover, .ddl-button:focus {
    background-color: #e0e0e0;
}

main header {
    border-left: 1px solid #dddddd;
    display: flex;
    flex-direction: row;
}

main header>div {
    padding: 0 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main header>div >div {
    line-height: normal;
}

.sidebar ul, li {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

.chats {
    flex: 1 1;
    overflow: auto;
}

.chats li {
    padding-left: 15px;
    height: 64px;
    display: flex;
    flex-direction: row;
}

.chats li .message-container {
    border-bottom: 1px solid #e6e6e6;
    padding: 6px 15px 6px 15px;
    min-width: 0;
    width: 100%;
}

.chats li .date {
    float: right;
}

.chats li .message {
    font-size: 14px;
    color: #606060;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 450px;
}

.chats li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.chats li.selected {
   background-color: #e0e0e0;
}

.detail {
    padding: 0 20px 14px 20px;
    flex: 1 1;
    overflow:auto;
    display: flex;
    flex-direction: column;
}

.detail .message {
    max-width: 500px;
    background-color: white;
    padding: 8px 16px;
    border-radius: 20px;
    margin: 0px;
    margin-top: 14px;
}

.detail .message.merge {
    margin-top: 2px;
}

.message-time {
    display: block;
    float: right;
    margin-top: 8px;
    z-index: 10;
    color: #999999;   
    font-size: 11px;
    height: 15px;
    width: 43px;
    text-align: right;
}

.me .message-time {
    color: #cccccc;   
}

.message a.participant {
    font-size: 13px;
    font-weight: bolder;
    display: block;
    text-decoration: none;
}

.message a.participant:hover {
    text-decoration: underline;
}

.detail .message.them {
    align-self: flex-start;
}

.detail .day-change-marker {
    padding: 6px 12px;
    border-radius: 10px;
    background-color: #dddddd;
    margin-top: 14px;
    align-self: center;
    font-size: 13px;
}

.detail .message.me {
    align-self: flex-end;
    background-color: #d62c7d;
    color: white;
}

.detail .message.media {
    padding: 0px;
    position: relative; 
}

.detail .message.media img, video {
    border-radius: 20px;
    max-width: 500px;
    max-height: 500px;
}

.detail .message.media video {
    display: block;
}

.detail .message.media .message-time {
    position: absolute;
    display: inline;
    float: none;
    margin: 0px;
    right: 10px;
    bottom: 6px;
    background-color: #444444;
    color: white;
    text-align: center;
    opacity: 0.6;
    border-radius: 6px;
}

main footer {
    display: flex;
    padding: 11px 16px;
    background-color: #f0f0f0;
}

main footer input {
    background-color: white;
    flex-grow: 1;
    border: 0;
    border-radius: 25px;
    padding: 8px 15px 10px 15px;
    font-size: 15px;
    font-weight: 300;
    outline: none;
    color: #111111;
}

main footer input::placeholder {
    color: #bbbbbb;
}

main footer button {
    outline: 0;
    height: 25px;
    border: 0;
    color: #9b9b9b;
    margin: 0;
    padding: 0;
    cursor: pointer;
    align-self: center;
    background-color: transparent;
    margin-left: 20px;
}

main footer .attach {
    margin-right: 10px;
    color: #9b9b9b;
    border-radius: 50%;
    padding: 6px;
}

main footer .attach svg {
    vertical-align: middle;
    pointer-events: none;
}

main footer .attach:hover, .attach:focus {
    background-color: #e0e0e0;
}

footer button svg {
    margin: 0;
    padding: 0;
}
