@import "./reset.css";

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    transition: background ease-in-out 300ms;
    background: var(--bg);
    color: var(--txt);
    margin: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, "Helvetica Neue", sans-serif;
    display: flex;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

@media (max-width: 1199px) {
    body {
        padding: 0 8px;
    }
}

textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
        Cantarell, "Helvetica Neue", sans-serif;
}

a {
    color: #22a7f2;
}

.iti__flag {
    background-image: url("assets/flags.png") !important;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .iti__flag {
        background-image: url("assets/flags@2x.png") !important;
    }
}
