[package]
name = "group_prize_bot_impl"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
candid = { workspace = true }
canister_api_macros = { path = "../../../../libraries/canister_api_macros" }
canister_logger = { workspace = true }
canister_state_macros = { workspace = true }
canister_tracing_macros = { workspace = true }
group_canister = { path = "../../../../canisters/group/api" }
group_canister_c2c_client = { path = "../../../../canisters/group/c2c_client" }
http_request = { path = "../../../../libraries/http_request" }
ic-cdk = { workspace = true }
ic-cdk-macros = { workspace = true }
ic-cdk-timers = { workspace = true }
ic-icrc1 = { workspace = true }
ic-icrc1-client = { workspace = true }
ic-icrc1-client-cdk = { workspace = true }
ic-ledger-types = { workspace = true }
ic-stable-structures = { workspace = true }
icrc-ledger-types = { workspace = true }
ledger_utils = { path = "../../../../libraries/ledger_utils" }
local_user_index_canister = { path = "../../../../canisters/local_user_index/api" }
local_user_index_canister_c2c_client = { path = "../../../../canisters/local_user_index/c2c_client" }
msgpack = { path = "../../../../libraries/msgpack" }
rand = { workspace = true }
serde = { workspace = true }
serde_bytes = { workspace = true }
serde_json = { workspace = true }
serializer = { workspace = true }
group_prize_bot = { path = "../api" }
tracing = { workspace = true }
types = { path = "../../../../libraries/types" }
user_canister = { path = "../../../../canisters/user/api" }
user_index_canister_c2c_client = { path = "../../../../canisters/user_index/c2c_client" }
user_index_canister = { path = "../../../../canisters/user_index/api" }
utils = { path = "../../../../libraries/utils" }
