[package]
name = "registry_canister_impl"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
candid = { workspace = true }
canister_api_macros = { path = "../../../libraries/canister_api_macros" }
canister_logger = { path = "../../../libraries/canister_logger" }
canister_state_macros = { path = "../../../libraries/canister_state_macros" }
canister_tracing_macros = { path = "../../../libraries/canister_tracing_macros" }
futures = { workspace = true }
http_request = { path = "../../../libraries/http_request" }
human_readable = { path = "../../../libraries/human_readable" }
ic-cdk = { workspace = true }
ic-cdk-macros = { workspace = true }
ic-cdk-timers = { workspace = true }
ic-stable-structures = { workspace = true, features = ["candid"] }
icrc1_ledger_canister = { path = "../../../external_canisters/icrc1_ledger/api" }
icrc1_ledger_canister_c2c_client = { path = "../../../external_canisters/icrc1_ledger/c2c_client" }
serde = { workspace = true }
serializer = { path = "../../../libraries/serializer" }
sns_governance_canister_c2c_client = { path = "../../../external_canisters/sns_governance/c2c_client" }
sns_wasm_canister = { path = "../../../external_canisters/sns_wasm/api" }
sns_wasm_canister_c2c_client = { path = "../../../external_canisters/sns_wasm/c2c_client" }
tracing = { workspace = true }
types = { path = "../../../libraries/types" }
registry_canister = { path = "../api" }
utils = { path = "../../../libraries/utils" }
