[package]
name = "callback_canister_impl"
version = "0.1.0"
authors = ["Hamish Peebles <hamishpeebles@gmail.com>", "Matt Grogan <megrogan@gmail.com>", "Julian Jelfs <julian.jelfs@gmail.com>"]
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
path = "src/lib.rs"
crate-type = ["cdylib"]

[dependencies]
callback_canister = { path = "../api" }
candid = "0.7.17"
canister_api_macros = { path = "../../../libraries/canister_api_macros" }
canister_logger = { path = "../../../libraries/canister_logger" }
canister_state_macros = { git = "https://github.com/open-ic/ic-utils", rev = "d9c575fb4b91e1cfe80add0746eac389df33c8f7" }
canister_tracing_macros = { path = "../../../libraries/canister_tracing_macros" }
futures = "0.3.21"
http_request = { path = "../../../libraries/http_request" }
ic-cdk = "0.5.6"
ic-cdk-macros = "0.5.6"
msgpack = { path = "../../../libraries/msgpack" }
serde = "1.0.137"
serde_bytes = "0.11.6"
stable_memory = { git = "https://github.com/open-ic/ic-utils", rev = "d9c575fb4b91e1cfe80add0746eac389df33c8f7" }
tracing = "0.1.33"
types = { path = "../../../libraries/types" }
utils = { path = "../../../libraries/utils" }
