[package]
name = "icdex_client"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
candid = { workspace = true }
hex = { workspace = true }
ic-cdk = { workspace = true }
icdex_canister = { path = "../../external_canisters/icdex/api" }
icdex_canister_c2c_client = { path = "../../external_canisters/icdex/c2c_client" }
types = { path = "../types" }
