on:
  pull_request:
  merge_group:
    branches:
      - master

name: Backend linting and unit tests

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  fmt:
    name: run fmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.82.0
          override: true
      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    name: run clippy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.82.0
          override: true
      - run: rustup component add clippy
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "build-debug"
          save-if: "false"
      - uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --tests -- -D warnings

  unit_tests:
    name: run unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.82.0
          override: true
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "build-debug"
          save-if: "false"
      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --exclude integration_tests

  integration_tests:
    name: run integration tests
    paths:
      - "*.rs"
      - "*.toml"
      - "**/Cargo.lock"
      - ".github/workflows/backend.yaml"
    runs-on:
      - runs-on
      - runner=16cpu-linux-x64
      - family=m7i
      - run-id=${{ github.run_id }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: 1.82.0
          override: true
      - run: rustup target add wasm32-unknown-unknown
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: "build-wasms"
          save-if: "false"
      - uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build canister wasms
        run: ./scripts/generate-all-canister-wasms.sh
      - name: Run integration tests
        run: ./scripts/run-integration-tests.sh local
