on:
  push:
    branches:
      - master

name: Build caches

jobs:
  build_all_debug:
    name: Build all in debug mode
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/workflows/setup-rust.yaml
        with:
          cache: write
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --tests
