on:
  pull_request:
    branches:
      - master

name: Frontend linting, type check & unit tests

jobs:
  install-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v1
        with:
          node-version: "16.x"
      - name: Installing NPM dependencies
        run: npm ci
        env:
          NODE_ENV: ci
      - name: building frontend
        run: npm run build
        env:
          NODE_ENV: ci
          USERGEEK_APIKEY: ${{ secrets.GH_USERGEEK_APIKEY }}
          ROLLBAR_ACCESS_TOKEN: ${{ secrets.GH_ROLLBAR_ACCESS_TOKEN }}
          OPENCHAT_WEBSITE_VERSION: $GITHUB_SHA
      - name: run lint, check and unit tests
        run: |
          npm run lint
          npm run validate
          npm test
      - name: Generate translations
        run: npm run sync_lang
        env:
          TRANSLATE_API_KEY: ${{ secrets.GH_TRANSLATE_API_KEY }}
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Synchronise language changes
