on:
  pull_request:
    branches:
      - master
    paths:
      - "**.rs"
      - "**.toml"
      - "**/Cargo.lock"
      - ".github/workflows/integration_tests.yaml"

name: Integration tests

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  integration_tests:
    name: run integration tests
    runs-on:
      - runs-on
      - runner=16cpu-linux-x64
      - family=m7i
      - run-id=${{ github.run_id }}
    steps:
      - uses: ./.github/workflows/setup-rust.yaml
      - uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Build canister wasms
        run: ./scripts/generate-all-canister-wasms.sh
      - name: Run integration tests
        run: ./scripts/run-integration-tests.sh local
