on:
  workflow_call:
  push:
    branches:
      - master

name: Push canister wasms

jobs:
  push_canister_wasms:
    name: Push canister wasms
    runs-on:
      - runs-on
      - runner=8cpu-linux-x64,
      - run-id=${{ github.run_id }}
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build canister wasms
        run: ./scripts/docker-build-all-wasms.sh
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::253040722768:role/GitHubActions-PushCanisterWasms
          aws-region: us-east-1
      - name: Push canister wasms to S3
        run: |
          aws s3 cp --recursive wasms s3://openchat-canister-wasms/${GITHUB_SHA}
      - name: Update latest commit Id
        run: |
          echo ${GITHUB_SHA} > latest
          aws s3 mv latest s3://openchat-canister-wasms/latest
